<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/home">Pill-Tracker</a>
  <form class="form-inline">
     <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/">Logout</a>
        </div>
      </div>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-btn">Search</button>
  </form>
</nav>

<br>

<div id="add-prescription">
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
        <form role="form">
            <div class="form-group row">
                <label for="name-input">Name:</label>
                <input class="form-control" id="name-input" type="text">
            </div>
              <div class="form-group">
                <label for="exampleInputEmail1">At what time do you plan on taking your first pill?</label><br>
                <input type="time" id="time-input"  placeholder="ex: 8:00am">
            </div>
             <div class="form-group">
            <label for="exampleInputEmail1">How many hours apart are your meds?</label>
                <select class="form-control" id="increment-input">
                    <option>Select Below</option>
                    <option id = 'four' value = 4 >4</option>
                    <option id = 'eight' value = 8 >8</option>
                    <option id = 'twelve' value = 12 >12</option>
                </select>
            </div>
            <div class="form-group row">
                <label for="textTime-input">Notes</label>
                <input class="form-control" id="notes-input" type="text">                             
            </div>
            <br>
            <button class="btn btn-success float-right" id="add-script-btn" type="submit">Submit</button>
        </form>
    </div>
    </div>
</div>
</div>

