 <nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/">Pill-Tracker</a>
  <form class="form-inline">
    <button class="btn btn-success  my-sm-0" type="sign-in" id="sign-in-btn">SIGN-IN</button> 
    <button class="btn btn-success  my-sm-0" type="register" id="register-btn">REGISTER</button>
  </form>
</nav>

<br>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <p>
         "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco 
         laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
         dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non 
         proident, sunt in culpa qui officia deserunt mollit anim id estlaborum."
        </p>
      
