 <nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/">Pill-Tracker</a>
  <form class="form-inline">
    <button class="btn btn-success  my-sm-0" type="button" id="log-in-btn">LOG-IN</button> 
    <button class="btn btn-success  my-sm-0" type="button" id="sign-up-btn">SIGN-UP</button>
  </form>
</nav>

<br>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
      <p> 50% Percent of prescription medications are not taken as directed, and an even greater percentage than that are never finished. </p>
      <p> With our Pill Tracker app we are working to fight these odds. Our tools will help manage your medications, track when your take your medications, store important information from your doctor and even remind to take your medications! </p>
      <p> Sign up and do your part to prevent the mutations of harmful bacteria, which can lead to super bugs!</p>
      

