<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/">Pill-Tracker</a>
  <form class="form-inline">
  </form>
</nav>

<br>

<div id="signup">
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
        <form role="form">
            <div class="form-group row">
                <label for="name-input">Name:</label>
                <input class="form-control" id="name-input" type="text">
            </div>
            <div class="form-group row">
                <label for="email-input">Email:</label>
                <input class="form-control" id="email-input" type="email">
            </div>
            <div class="form-group row">
                <label for="phone-input">Phone:</label>
                <input class="form-control" id="phone-input" type="tel">
            </div>
            <div class="form-group row">
                <label for="zip-input">Password:</label>
                <input class="form-control" id="password-input" type="password">
            </div>
            
            <br>
            <button class="btn btn-success float-right" id="register-btn" type="submit">Submit</button>
        </form>
    </div>
    </div>
</div>
</div>

