<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="firstName">firstName</label>
        <input name="firstName" type="text" />
        <label for="lastName">lastname</label>
        <input name="lastName" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <label for="phoneNumber">phoneNumber</label>
        <input name="phoneNumber" type="tel" />
        <input class="btn" type="submit" value="Sign Up" />
    </form>
 
</body>
 
</html>